/* Fonts */
.lato-thin {
  font-family: "Lato", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.lato-light {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.lato-regular {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.lato-bold {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.lato-black {
  font-family: "Lato", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.lato-thin-italic {
  font-family: "Lato", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.lato-light-italic {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.lato-regular-italic {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.lato-bold-italic {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.lato-black-italic {
  font-family: "Lato", sans-serif;
  font-weight: 900;
  font-style: italic;
}

.syne-mono-regular {
  font-family: "Syne Mono", monospace;
  font-weight: 400;
  font-style: normal;
}

.cairo-<uniquifier > {
  font-family: "Cairo", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings: "slnt" 0;
}

/* Styles */
html {
  font-family: "Syne Mono", Arial, sans-serif;
  background-color: #232323;
  color: rgb(209, 209, 209);
  scroll-behavior: smooth;
}

h1,
h2 {
  text-align: center;
  cursor: default;
  color: rgb(209, 209, 209);
}
h2 {
  display: flex;
  justify-content: center;
}
h3 {
  color: rgb(209, 209, 209);
}

.h1left:hover,
.h1geo:hover,
.h1lov:hover,
.h1right:hover,
.h2span:hover,
a:hover {
  color: rgb(255, 43, 142);
}

header p {
  font-size: 120%;
}

h1 {
  font-size: 4rem;
  margin: 60px;
  margin-bottom: 0px;
}
h2 {
  font-size: 2.4rem;
  margin: 20px;
  margin-top: 40px;
  margin-bottom: 10px;
}
em {
}
p {
  font-family: "Cairo", Arial, sans-serif;
  line-height: 110%;
  font-size: 16px;
}

main {
  margin: 20px 40px;
}

.card {
  display: block;
  background-color: #ffffff;
  border-radius: 10px;
  padding: 10px;
  text-align: center;
  width: 300px;
  height: 420px;
  margin: 10px;
  transition: transform 0.2s;
}

.card:hover {
  transform: scale(1.02);
}
.card:hover.notyet p {
  color: #929292;
}

.cardlink:hover em {
  color: rgb(218, 15, 110);
}
.notyet .cardlink:hover em {
  color: rgb(230, 127, 175);
}
.notyet .cardlink:hover .orchard_thumb,
.notyet .cardlink:hover .vegan_thumb {
  opacity: 0.7;
}

a {
  color: rgb(209, 209, 209);
  cursor: pointer;
}

.cardlink {
  all: unset;
  cursor: pointer;
  display: block;
}
.cardlink.mada {
  cursor: not-allowed;
}

p,
.description {
  margin: 10px;
  text-align: center;
}

footer {
  font-size: 12px;
  text-align: center;
  padding: 20px;
}

button {
  font-family: "Cairo", Arial, sans-serif;
  font-size: 16px;
  border-radius: 20px;
  border: none;
  padding: 5px 15px;
  margin-top: 15px;
  background-color: #efefef;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  max-width: 250px;
}

button:hover,
button:focus {
  background-color: rgb(15, 218, 69);
  color: white;
}

img {
  width: 238px;
  border-radius: 10px;
  height: 238px;
  object-fit: cover;
  object-position: top;
  margin-top: 10px;
}

.gdlogo,
.figmalogo {
  max-width: 10px;
  height: 100%;
  border-radius: 0;
  padding-right: 3px;
  display: block;
  position: relative;
  top: -5px;
}
.sheetslogo {
  width: 25px;
  height: 25px;
  display: inline-block;
  border-radius: 0;
  position: relative;
  top: 5px;
  padding-right: 10px;
}

.email {
  line-height: 16px;
  height: 16px;
  display: inline-block;
}
.email:hover {
  text-decoration: none;
  line-height: 16px;
}
.email:hover span {
  display: none;
}
.email:hover:before {
  content: "[golovitt@gmail.com]";
  color: rgb(255, 43, 142);
  font-family: "Syne Mono";
  font-size: 14px;
}

iframe {
  display: block;
  margin: auto;
  margin-top: 20px;
  overflow: hidden;
}

ul,
ol {
  font-family: "Cairo", Arial, sans-serif;
  margin: 0;
}

li {
  margin-top: 0px;
  line-height: 120%;
  margin-bottom: 10px;
}

h3 {
  margin: 0px;
  margin-top: 20px;
  margin-bottom: 5px;
}

.introduction,
.empathise,
.define,
.initial {
  justify-content: center;
  display: flex;
  gap: 40px;
  flex-wrap: wrap;
  align-items: center;
}

.text {
  max-width: 500px;
}
.img-center {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

hr {
  margin-top: 30px;
}

.persona,
.persona-img {
  width: 100%;
  height: 100%;
  transform-origin: top right;
  box-shadow: 3px 3px 10px black;
  transition: 100ms;
}
.persona-img:hover {
  transform: scale(1.8);
}

.define-img {
  width: 100%;
  height: 100%;
  max-width: 500px;
  transform-origin: top left;
  box-shadow: 3px 3px 10px black;
  transition: 100ms;
}
.define-img:hover {
  transform: scale(2);
}

.paper-ideation {
  width: 100%;
  height: 100%;
  max-width: 400px;
  transform-origin: center left;
  box-shadow: 3px 3px 10px black;
  transition: 100ms;
}
.paper-ideation:hover {
  transform: scale(1.4);
}

.affinity-img {
  width: 100%;
  height: 100%;
  max-width: 600px;
  transform-origin: center;
  box-shadow: 3px 3px 10px black;
  transition: 100ms;
}
.affinity-img:hover {
  transform: scale(2.2);
}

.initial-img {
  width: 100%;
  height: 100%;
  max-width: 300px;
  transform-origin: top left;
  box-shadow: 3px 3px 10px black;
  transition: 100ms;
}

.initial-img:hover {
  transform: scale(2);
}

.components-img {
  max-width: 400px;
}

.colors-text {
  width: 100%;
  height: 100%;
  max-width: 150px;
  transform-origin: top left;
  box-shadow: 3px 3px 10px black;
  transition: 100ms;
}
.text-side {
  max-width: 300px;
}
.colors-text:hover {
  transform: scale(2);
}

.persona_images {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: center;
  align-items: center;
}

.ext-link {
  font-size: 120%;
}

.lalign {
  text-align: left;
}

figcaption {
  font-family: "Cairo", Arial, sans-serif;
  line-height: 130%;
  padding: 10px 20px;
  border-radius: 5px;
}

.arrow {
  font-size: 200px;
}

.methodology {
  max-height: 400px;
  overflow: auto;
}

.affinity {
  text-align: center;
}

.low-lineheight {
  line-height: 60%;
  top: 20px;
  font-size: 100px;
}
.img-right {
  transform-origin: top right;
}

.pink {
  color: rgb(255, 43, 142);
  text-align: center;
}

.mobile-warning {
  display: none;
}

.nav-list {
  font-size: 140%;
  font-family: "Syne Mono", Arial, sans-serif;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5rem;
  padding: 2rem 3rem 1rem 3rem;
  text-align: center;
}
.nav-list a {
  text-decoration: none;
}

@media (max-width: 768px) {
  .mobile-warning {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #333;
    color: white;
    text-align: center;
    padding: 12px;
    z-index: 9999;
  }
  body {
    text-align: center;
    padding: 0 16px;
  }
}
